@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Rubik+Mono+One&display=swap');

@media (max-width: 768px) {
    .order {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 90%;
        margin-bottom: 20px;
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1E0000;
}

header{
    width: 100%;
}

.main{
    width: 90%;
    height: 11vh;
    margin: 0 auto ;
    padding-top: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.main > div{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotip{
    width: 110px;
    height: 80px;
}

.nomber{
    font-size: 20px;
    color: #E08970;
    align-items: center;
}
.social{
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social > a > .img1 {
    filter: invert(35%) sepia(34%) saturate(750%) hue-rotate(325deg) brightness(95%) contrast(85%);
}


.navigator{
    width: 80%;
    /* border: 1px solid red; */
    margin: 10px auto 35px;
    padding: 10px 10px ;
    display: flex;
    justify-content: space-around;
}

.navigator > a{
    color: #BE3E27;
    font-size: 30px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}



.information{
    width: 95%;
    height: 35vh;
    margin: 80px auto 0;
    padding: 40px 0 0;
    border-bottom: 1px solid #947C7D;
    border-top: 1px solid #947C7D;
}

.salon > p{
    text-align: center;
    color: #BE3E27 ;
    font-size: 60px;
}


.salon1 > p{
    text-align: center;
    color:#E08970;
    font-size: 25px;
    padding: 20px 0 0 0 ; 
}

.salon2 > p{
    text-align: center;
    color:#E08970;
    font-size: 25px;
}

span {
    color:#BE3E27;
    font-size: 40px;
}

.girls{
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -165px;
    display: flex;
    justify-content: space-evenly;
}

.girls > img{
    width: 550px;
    height: 400px;
    object-fit: cover;
}

.order {
    width: 60%;
    margin: 20px auto;
    padding: 30px;
}

.order > p {
    text-align: center;
    font-size: 45px;
    color: #E08970;
    line-height: 1.3;
}

.forma{
    width: 70%;
    margin: 7% auto;
    /* border: 1px solid wheat; */
}

.forma > h1{
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
    color: #BE3E27;
}

.forma > input{
    width: 26%;
    height: 20px;
    font-size: 20px;
    margin: 0 36%;
    padding: 10px 10px;
    border: 1px solid #1E0000;
    border-radius: 5px;
}

.forma > button{
    width: 27.3%;
    height: 45px;
    font-size: 30px;
    margin: 20px 36%;
    padding: 0 5px;
    background-color: #BE3E27;
    color: white;
    border: 1px solid #1E0000;
    border-radius: 5px;
}

.rights{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.rights > p{
    font-size: 15px;
    color: #E08970;
}
